.contact {
  margin-bottom: 100px;
  
  &__body {
    display: flex;
  }

  &__link {
    margin-top: auto;
    margin-left: auto;
    color: $text-color;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media(max-width: $mobile-width) {
  .contact {
    &__body {
      flex-direction: column;
    }

    &__link {
      margin-left: 0;
    }
  }
}