.features {
  margin-bottom: 100px;
  
  &__titles {
    display: flex;
  }

  &__title {
    margin-right: 132px;
  }

  &__text {
    max-width: 330px;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    text-transform: uppercase;
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 20px;
  }

  &__body {
    display: flex;
  }

  &__tabs {
    margin-right: 112px;
  }
}

@media(max-width: 1240px) {
  .features {
    &__tabs {
      margin-right: 40px;
    }

    &__body {
      flex-direction: column;
    }
  }
}

@media(max-width: $tablet-width) {
  .features {
    &__tabs {
      margin-right: 0;
      flex-wrap: wrap;
    }
  }
}

@media(max-width: $mobile-width) {
  .features {
    &__titles {
      flex-direction: column;
    }

    &__title {
      margin-right: 0;
      margin-bottom: 10px;
    }

    &__text {
      font-size: 24px;
      max-width: 310px;
    }
  }
}