.popap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(36, 33, 33, 0.9);
  z-index: 999999;
  visibility: hidden;

  &--open {
    visibility: visible;
  }

  &__video {
    max-width: 50%;
    height: 400px;
  }

  &__btn-close {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20%;
    right: 25%;
    cursor: pointer;
    color: $color-black;
  }
}