.socials-list {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__icon {
    fill: $text-color;
    transition: all 0.3s;

    &:hover {
     fill: $color-black;
    }
  }
}

@media(max-width: $tablet-width) {
  .socials-list {
    &__item {
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }
}