.tabs {
  
  &__item {
    margin-bottom: 20px;
  }

  &__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $text-color;
    white-space: nowrap;

    &--active {
      color: $color-black;
    }
  }
}

@media(max-width: $tablet-width) {
  .tabs {
    display: flex;
    margin-right: 0;
    
    &__item {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}