.tabs-content {
  width: 100%;
  min-height: 300px;

  &__item {
    // display: flex;
    // opacity: 0;
    // height: 0;
    display: none;
    &--active {
      // opacity: 1;
      // height: auto;
      display: flex;
    }
  }

  &__img {
    object-fit: cover;
  }
  
  &__box {
    margin-left: 47px;
    align-self: flex-end;
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: $text-color;
    margin-bottom: 10px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 40px;
  }
}

@media(max-width: $tablet-width) {
  .tabs-content {
    &__item {
      flex-direction: column;
    }

    &__box {
      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}